<app-navigation></app-navigation>
<ion-content fullscreen>
  
    <ion-grid>
        <ion-row class="card grad">
            <ion-col size="12" class="ml-auto mr-auto text-center mt-2">
                <ion-title>{{userdetails.fullname}}</ion-title>
            </ion-col>
            <ion-col size="12">
                <ion-avatar class="ml-auto mr-auto mt-2">
                    <img [src]="profilepic">
                  </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-grid>
 </ion-content>
 
