<ion-content>
  
    <ion-tabs>
       

        <ion-tab-bar slot="bottom">
            <mat-toolbar class="navigation-bar">
          <ion-tab-button tab="home">
              <i class="icon icon-home"></i>
            <ion-label>HOME</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="salary">
              <i class="icon icon-salary"></i>
            <ion-label>SALARY</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="review">
              <i class="icon icon-birthday"></i>
            <ion-label>BIRTHDAYS</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="profile">
              <i class="icon icon-profile"></i>
            <ion-label>PROFILE</ion-label>
          </ion-tab-button>
        </mat-toolbar>
        </ion-tab-bar>

       
     
       <!--  <ion-fab>
          <ion-fab-button size="small">
            <i class="material-icons icon" [ngClass]="{'active-user':userActive == 1}">
              fingerprint
              </i>
          </ion-fab-button>
        </ion-fab> -->

      </ion-tabs>
    

</ion-content>
