<app-navigation></app-navigation>
<ion-content fullscreen>
    <div *ngIf="birthdaysList.length > 0">
    <ion-item lines="full" *ngFor="let _data of birthdaysList">
        <ion-avatar slot="start">
            <img src="../../../assets/icon/dashboard/cake.png">
          </ion-avatar>
        <ion-label>{{_data.fullname}}</ion-label>
      </ion-item>
    </div>
    <div *ngIf="birthdaysList.length == 0" lines="full" class="text-center mt-4 ml-auto mr-auto">
              
                <img src="../../../assets/icon/dashboard/balloons.png">
            <ion-title>
                    No Record.
            </ion-title>        
    </div>

 </ion-content>
 
