.example-icon {
    padding: 0 10px;
    font-size: 32px !important;
  }
  
  .example-spacer {
    flex: 1 1 auto !important;
  }

  .active-user
  {
      background-color: aliceblue;
      border-radius: 50%;
      color:green !important;
  }